<div *ngIf="steps && steps.length>0" class="container">
	<div *ngIf="withHeader" class="row">
		<div class="col-1 header-cell">#</div>
		<div class="col-9 header-cell">Step</div>
		<div class="col-2 header-cell">Duration</div>
	</div>

	<div *ngFor="let step of steps; let i=index;" class="row">
		<div class="col-1 cell" [class.note]="isCheck(step)">
			<ng-container *ngIf="showResults">
			<i *ngIf="step.status==='passed'" class="fa fa-check-circle-o" style="font-size:20px;color:green;"></i>
			<i *ngIf="step.status==='failed'" class="fa fa-times-circle-o" style="font-size:20px;color:red;"></i>
			<i *ngIf="step.status==='broken'" class="fa fa-times-circle-o" style="font-size:20px;color:orange;"></i>
			</ng-container>
		</div>
		<div class="col-9 cell">
			<i *ngIf="hasChildren(step)" class="level-{{level}} fa fa-angle-down mr-1" style="font-size: 18px;"></i>
			<i *ngIf="!hasChildren(step)" class="level-{{level}}"></i>
			{{step.name}}
		</div>
		<div class="col-2 cell"><ng-container *ngIf="showResults">{{getTimeSpendInStep(step)}}</ng-container></div>

		<test-steps *ngIf="step.steps && step.steps.length>0" [steps]="step.steps" [showResults]="showResults" [withHeader]="false" [level]="level+1" class="w-100"></test-steps>
	</div>
</div>

