<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Allure reporter</a>
	<div class="ml-auto">
	</div>
	<button class="border rounded ml-2" type="button" [class.btn-primary]="toggleResults" [class.btn-danger]="!toggleResults">
		<i class="fa fa-check text-white mt-1" style="font-size: 23px;" (click)="doResultsClick()"></i>
	</button>
	<button class="border rounded ml-2" type="button" [class.btn-primary]="toggleSummary" [class.btn-danger]="!toggleSummary">
		<i class="fa fa-table text-white mt-1" style="font-size: 23px;" (click)="doSummaryClick()"></i>
	</button>
	<button class="btn-primary border rounded ml-2" type="button">
		<i class="fa fa-user text-white mt-1" style="font-size: 23px;" (click)="doUserClick()"></i>
	</button>
	<button class="btn-primary border rounded ml-2" type="button">
		<i class="fa fa-upload text-white mt-1" style="font-size: 23px;" (click)="doReportClick()"></i>
	</button>
</nav>
