<div class="container">

  <p></p>
  <file-drop class="no-print" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <div style="text-align: center">
      <i class="fa fa-upload" style="font-size:23px;"></i>
      <p>Drop your allure files here</p>
    </div>
  </file-drop>

  <test-summary *ngIf="tests && tests.length>0"></test-summary>

  <div *ngFor="let test of tests">
    <div class="pt-4 mb-1">
      <i *ngIf="test.status==='passed'" class="fa fa-check-circle-o" style="font-size:33px;color:green;"></i>
			<i *ngIf="test.status==='failed'" class="fa fa-times-circle-o" style="font-size:33px;color:red;"></i>
      <h2 class="d-inline">{{test.name}}</h2>
    </div>

    <div *ngIf="test.labels && test.labels.length>0" class="form-group mb-1">
      <div>
        <test-label *ngFor="let label of test.labels" [label]="label"></test-label>
      </div>
    </div>

    <div *ngIf="test.links && test.links.length>0" class="form-group  mb-1">
      <div>
        <a *ngFor="let link of test.links" class="mr-2" href="{{link.url}}">{{link.name}}</a>
      </div>
    </div>

    <div class="form-group">
      <div>
        <i class="mr-1 fa fa-clock-o"></i>
        <small>{{getDateDetails(test)}}</small>
      </div>
    </div>

    <div class="form-group">
      <p markdown>{{test.description}}</p>
    </div>

    <test-steps [steps]="test.steps"></test-steps>
    <p></p>
  </div>

</div>


