@import "~systelab-components/sass/systelab-bootstrap-settings";
@import "~bootstrap/scss/bootstrap";
@import "~systelab-components/sass/systelab-components";


.flex-column {
	overflow: auto;
}

.principal-container{
	top: 0; bottom: 0; left: 0; right: 0;
}
