<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="reportModal">Report to Jama</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="doClose()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">

			<div class="row">
				<div class="col-md-12">
					<label class="col-form-label text-truncate">Project</label>
					<select class="form-control" [(ngModel)]="selectedProject">
						<option *ngFor="let project of projects" [ngValue]="project">{{project.fields.name}}</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label class="col-form-label text-truncate">Test Plan</label>
					<select class="form-control" [(ngModel)]="selectedTestPlan">
						<option *ngFor="let testPlan of testPlans" [ngValue]="testPlan">{{testPlan.fields.name}}</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label class="col-form-label text-truncate">Test Group</label>
					<select class="form-control" [(ngModel)]="selectedTestGroup">
						<option *ngFor="let testGroup of testGroups" [ngValue]="testGroup">{{testGroup.fields.name}}</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label for="testcycle" class="col-form-label text-truncate">Test cycle name</label>
					<input type="text" class="form-control" id="testcycle" name="testcycle" [(ngModel)]="testcycleName">
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<label for="reporter" class="col-form-label text-truncate">Reporter</label>
					<input type="text" class="form-control" id="reporter" name="reporter" [(ngModel)]="reporter">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" (click)="doRun()">Report</button>
		</div>
	</div>
</div>
