<footer class="page-footer font-small bg-primary text-light pt-2 pb-2 mt-3">
	<div class="container-fluid text-center text-md-left">
		<div class="row d-flex">
			<div class="col-4">Version 2.0.0</div>
			<div class="col-8 text-right">
				<a class="sm-link ml-0"><i class="fa fa-github white-text mr-4"> </i></a>
				<a class="sm-link"><i class="fa fa-twitter white-text mr-4"> </i></a>
				<a class="sm-link"><i class="fa fa-google-plus white-text mr-4"> </i></a>
				<a class="sm-link"><i class="fa fa-linkedin white-text mr-4"> </i></a>
				<a class="sm-link"><i class="fa fa-instagram white-text mr-4"> </i></a>
			</div>
		</div>
	</div>
</footer>
